# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data science 
- Convert minutes to hours in a code cell

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

|Data Science Tools|
|------------------|
|Git|
|VS code|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [6]:
min = 200
hr = min/60
print(hr)

# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author 
J